html {
    background-color: lightblue;
  }
  
  .titulo {
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: 60px;
    color: rgb(63, 141, 167);
    text-shadow: 2px 2px 4px #000000;
  }
  
  .menu {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    margin-top: 150px;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    flex: 1;
    text-align: center;
  }
  
  .menu a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.3s ease;
  }
  
  .menu a:hover {
    transform: scale(1.2);
  }
  
  .contenido {
    display: none;
    margin-top: 80px;
    margin-top: 30px;

  }

.contenido1 {
    display: none;
    margin-top: 80px;
    margin-top: 30px;
    background-color: rgb(156, 218, 236);
    padding: 10px;
    border: 3px solid rgb(255, 255, 255);
    margin: 0px;
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
  }

  .contenido2 {
    display: none;
    margin-top: 80px;
    margin-top: 30px;
    background-color: lightblue;
    padding: 10px;
    border: 2px solid lightblue;
    margin: 0px;
    display: flex;
  }
  
  h3 {
    font-family: 'Gill Sans';
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: underline;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  iframe {
    border: 5px solid lightblue;
    outline: 5px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    margin-left: 125px;
    margin-right: 125px;
    display: block;
    margin: 0 auto;
    margin-top: 55px;
  }

  .contenidor2 {
    background-color: lightblue;
    padding: 10px;
    margin: 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

p {
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

body {
    background: linear-gradient(to bottom, lightblue, #FFFFFF);
  }
  
.robot-sigue-linias { /* Imagen de nuestro robot sigue linias */
 
  width: 300px;
  border: 5px solid rgb(0, 0, 0);
  background-color: white;
  margin-left: 710px;
  margin-top: 10px;
  width: 400px;
}

.fotos-nosotros { 
  width: 300px;
  border: 5px solid rgb(0, 0, 0);
  background-color: white;
  margin-left: 475px;
  margin-top: 10px;
  width: 170px;
}

footer {
  background-color: lightblue;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.support {
  border: 1px solid lightblue;
  padding: 5px;
  text-align: right;
}

.social-media {
  border: 1px solid lightblue;
  padding: 5px;
}

footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

.textoblanco {
  color: white

}

table {
  border-collapse: collapse;
  width: 400px;
  font-family: Arial, sans-serif;
  color: #333333;
  margin-left: 515px;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #000000;
}

th {
  background-color: #ffffff;
}

.pie-fotos {

  font-size: 20px;
  color: rgb(0, 0, 0);


}

.album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photo {
  margin: 10px;
}

.codigo {
  margin-left: 555;
}


.download-btn {
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  display: block;
  text-align: center;
}
